body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-text-stroke: 0.001px transparent;
  font-size: 1.2em;
  /*
  background: url('http://subtlepatterns.com/patterns/dark_leather.png');
  background: url('http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/low_contrast_linen.png');
  background: url('http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/subtle_carbon.png');
  */
  background: url('admin-background.png.xhtml?ln=images');
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 2px 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a img {
	border: none;
}

form label {
  display: inline-block;
  min-width: 70px;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: 900;
}

form input.string {
  border: solid 1px #fff;
  padding: 4px;
  border-radius: 2px;
  margin-left: 6px;
}

form select.big {
  font-size: 15px;
  padding: 4px;
}

form.session {
  display: block;
  width: 30%;
  margin: 20px auto;
}

table {
	border-collapse: collapse;
	width: 100%;
	min-width: 100%;
}

table .table_header {
  text-transform: lowercase;
  font-variant: small-caps;
  border-bottom: solid 1px #212121;
}

table tbody {
  border-radius: 2px;
}

table tbody tr.even {
	background: #313131;
}

table tbody tr.odd {
	background: #3a3a3a;
}

table tbody tr:hover {
	background: #444444;
}

table td {
	padding: 5px 10px;
}

.link {
	font-size: 14px;
}

.validate-error {
  font-size: 13px;
  background: #942c2c;
  color: #fff;
  padding: 3px 6px;
  display: inline-block;
  border-radius: 2px;
}

.validate-success {
  font-size: 13px;
  background: #2c9438;
  color: #fff;
  padding: 3px 6px;
  display: inline-block;
  border-radius: 2px;
}

.validate-error.message {
  font-size: 14px;
}

.button {
  color: #faefef;
  background: #2c9438;
  padding: 4px 12px;
  border: none;
  font-size: 22px;
  font-weight: 900;
  text-transform: lowercase;
  font-variant: small-caps;
  border-radius: 3px;
}

#header,
#nav,
#body,
#footer {
  display: block;
  overflow: hidden;
  width: 900px;
  margin: 10px auto;
}

/* #header */

#header h1 {
  font-weight: 900;
  color: #fff;
  text-shadow: 1px 1px 2px #515151,  0px 0px 1px #515151;
}

#header h1 img {
  width: 48px;
  vertical-align: middle;
}

/* #nav */

#nav .nav-right {
  float: right;
}

#nav a {
  display: inline-block;
  font-weight: 900;
  text-transform: uppercase;
  padding: 4px 12px;
  margin: 2px 4px;
  color: #fff;
  border-radius: 3px;
  text-shadow: 1px 1px 0px #000;
}
#nav a:hover {
  background: #2c3f94;
  color: #faefef;
}

/* #body */

#body #slideshow {
  position: relative;
  width: 900px;
  height: 304px;
}
#body #slideshow img {
  position: absolute;
  display: block;
  width: 900px;
  height: 304px;
  border-radius: 3px;
}

#body #slideshow .caption {
  position: absolute;
  display: block;
  width: 900px;
  bottom: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 3px;
}

#body .lighter {
  font-weight: 200;
  text-transform: lowercase;
  font-variant: small-caps;
}

#body hr {
  border: solid 1px #999;
}

#body .gallery {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
}

#body .gallery li {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  margin: 5px;
}

#body .gallery .movie img {
  display: block;
  width: 115px;
  position: relative;
}

#body .gallery .movie span {
  display: block;
  width: 105px;
  position: absolute;
  padding: 5px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

#body .gallery .movie span.movie_title {
  bottom: 0;
}

#body .gallery .movie span.start_at {
  top: 0;
}

#body .gallery .movie a:hover span {
  background: rgba(148, 44, 44, 0.7);
}

#body .gallery .ticket {
	width: 45%;
	background: #d8d8d8;
	color: #111;
	font-size: 1.2em;
	border-radius: 3px;
	box-shadow: inset 0 1px 0 0 #ffffff, 0px 0px 3px rgba(50, 50, 50, 0.47);
}

#body .gallery .ticket .poster,
#body .gallery .ticket .info,
#body .gallery .ticket .code {
  display: block;
  float: left;
}

#body .gallery .ticket .info,
#body .gallery .ticket .code {
	padding: 5px;
}

#body .gallery .ticket .info {
	word-wrap: break-word;
	width: 60%;
}

#body .gallery .ticket .info h3 {
  text-transform: uppercase;
}

#body .gallery .ticket .code small {
	display: block;
	background: #942C2C;
  border-radius: 2px;
  color: #f3f3f3;
  font-size: 0.92em;
  letter-spacing: 0.6em;
  width: 0.6em;
  word-wrap: break-word;
  padding: 4px 2px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Ubuntu Mono', 'Consolas', sans-serif;
}

#body .gallery .ticket img {
	border-top: solid 1px #ffffff;
}

/* #footer */

#footer {
	font-size: 14px;
}

/* #movie */

#movie {
	overflow: hidden;
}

#movie h3.label {
	display: inline;
  margin: 0;
  padding: 1px 12px;
  font-weight: 900;
  color: #faefef;
  background: #2c3f94;
	text-transform: lowercase;
	font-variant: small-caps;
  border-radius: 3px;
}

#movie .column {
	display: block;
	float: left;
	padding: 1%;
}

#movie .column.poster {
	width: 28%;
}

#movie .column.info {
	width: 58%;
}

#movie .column.poster img {
	width: 100%;
}